<a href="https://colab.research.google.com/github/alouvre/ProyekDesa_Sedah/blob/main/ProyekDesa_SensusDesaSedah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [237]:
# !git clone https://github.com/alouvre/ProyekDesa_Sedah.git

In [238]:
import pandas as pd

# **COLLECTING DATA**

## DUSUN KRAJAN - AMAN

### RT01 - AMAN

In [239]:
KrajanRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K20_KRAJAN/DATA PENDUDUK DUSUN SIDOREJO RT 01^J 02^J 03 KRAJAN RT 1,RT 2, RT 3 FIXX.xlsx', sheet_name='RT 1')
KrajanRT01 = KrajanRT01.iloc[5:]
KrajanRT01 = KrajanRT01.drop(KrajanRT01.columns[0], axis=1)
KrajanRT01.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,ALI IMRON,NaN,TUKANG,SMA,SITI ANJARIAH,NaN,GURU,S1,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [240]:
KrajanRT01.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [241]:
# DROP INDEKS 54-61
KrajanRT01 = KrajanRT01.drop(list(range(54,61)))

In [242]:
KrajanRT01.head(57)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,ALI IMRON,NaN,TUKANG,SMA,SITI ANJARIAH,NaN,GURU,S1,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
6,SUMANTO,NaN,BURUH TANI,SMP,SITI ZAINAB,NaN,NaN,SMA,APRILIA SAMANTA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
7,ARIF WAHYU WIDODO,NaN,PEGAWAI RUMAH SAKIT,SMA,RULI WIDYAWATI,NaN,NaN,S1,RAFIF WAHYU A,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
8,KADIMUN,NaN,TUKANG,SMA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,SAKRI,NaN,PETANI,SD,SUYATMI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
10,MULYOTO,NaN,BURUH TANI,SD,SUSANNA,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
11,NaN,NaN,NaN,NaN,MESIJAH,NaN,IBU RUMAH,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
12,SUKARNO,NaN,BURUH TANI,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
13,KUSNAN,NaN,KONTRAKTOR,SD,WIWIK REDANING,NaN,NaN,SD,FARENDRA MASDILANA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,v,NaN,NaN,SEJAHTERA
14,ARIZKY RAGIL ANDYKA,NaN,PENGUSAHA,SLTA,AFRISNA MASDIANA,NaN,NaN,S1 HUKUM,AZIA KINARA CAKRAWALA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
15,NaN,NaN,NaN,NaN,KAYATI,NaN,IBU RUMAH,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
16,KATIMUN,NaN,PETANI,SD,TUKINEM,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
17,BASHIRUDIN,NaN,TUKANG,SLTA,SUNARTI,NaN,NaN,SLTA,SALMA AZURA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
18,PURNOMO,NaN,TUKANG,SLTP,DINIYATI,NaN,NaN,SD,NENI AFRILIA PRASTISTIANA,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
19,SUPRIYANTO,NaN,KARYAWAN,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
20,USMAN HADI,NaN,PETANI,SLTP,MISTRIANI,NaN,NaN,SLTP,MOHAMAD FERDI AZIZ,NaN,...,√,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
21,HERU NOVIYANTO,NaN,PETANI,SLTA,NIA ARMAWATI,NaN,NaN,SLTA,ALMEER IZHAR MAUZA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
22,JIKUN,NaN,PETANI,NaN,SUYATI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
23,NaN,NaN,NaN,NaN,SUTIRAH,NaN,IBU RUMAH,SD,NaN,NaN,...,√,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
24,JOKO SUYITNO,NaN,TUKANG,SD,MARMIATI,NaN,NaN,SLTP,CHAVIN MAYOCHI N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
25,SARJUNI,NaN,PETANI,SD,MINATUN,NaN,NaN,NaN,NaN,NaN,...,NaN,√,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
26,RYHAN WARA ADI K,NaN,PELAJAR,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
27,SUYADI,NaN,PETANI,SLTP,SITI MARYUNI,NaN,NaN,PAKET C,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
28,ARJO MESERAN,NaN,PETANI,SD,SUPIYAH,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
29,SUYOTO,NaN,PEDAGANG,SLTP,SITI RUKANAH,NaN,NaN,SLTA,DANANG LUKMANUL KHAKIM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
30,SUMALI,NaN,PETANI,SD,SITI MARHENI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
31,TRI ATMONO,NaN,PETANI,SMP,UMI SAUDAH,NaN,NaN,SMP,ATTA TSANI ULAYYA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
32,SARNI,NaN,BURUH TANI,NaN,SUNDARI,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
33,SARDO,NaN,PETANI,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
34,NaN,NaN,NaN,NaN,WAKHIDATUL,NaN,IBU RUMAH,SLTP,IBRAHIM ZAIN ELFAIQ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
35,ANANG FADHILAH,NaN,POLISI,S1 SARJANA HUKUM,YENI MARLINA,NaN,NaN,S1 SARJANA PERHUTA,BENING BIDARI FADHILAH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
36,SUYONO,NaN,PETANI,SD,PONIRAH,NaN,NaN,SD,ANGGITA ARA SABILLA,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
37,NAHROWI,NaN,PETANI,SD,SITI SAMANAH,NaN,NaN,SLTP,ROSA IKA OCTARIANI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
38,SUTAJI,NaN,PETANI,SLTA,HARYUNI,NaN,NaN,SLTA,MUHAMMAD FARREL AL FAUZI,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
39,SUWANDI,NaN,PETANI,SMP,ENDANG SUSILOWATI,NaN,NaN,SMP,JOEY YOGI NUR ANGELY,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
40,SUNARNI,NaN,GURU,S1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
41,NaN,NaN,NaN,NaN,BINTI KHORIYAH,NaN,PETANI,SMP,NAFIATU ROHMAWATI,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
42,BANDUNG RURANTO,NaN,BURUH TANI,SLTA,TRI ARYA YULIANA,NaN,NaN,SLTP,LEANDARA ASHABRYNA,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
43,DIDIK ZULIANTO,NaN,GURU,SLTA,NaN,NaN,NaN,SLTA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
44,NaN,NaN,NaN,NaN,DARNING TUTIEK,NaN,IRT,SLTA,ANISA PUTRI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
45,SUGIONO,NaN,PNS,S1,IQLIMA HERAWATY,NaN,NaN,S1,AYLA SYAFANA ARBAH,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
46,NaN,NaN,NaN,-,NANIK ISMIYATI,NaN,BURUH TANI,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
47,EDI NUGROHO,NaN,WIRASWASTA,SLTA,FITRI NURMASANTI,NaN,IRT,SMP,HAFIS RIZKI NUGROHO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
48,MUHAMMAD SIDIQ,NaN,PETANI,SD,PUPUT RAHAYU,NaN,NaN,SMP\,ERLIYA NANTA RAHAYU,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
49,IMAM MUSTOFA,NaN,PETANI,S1,IRAMAYA SARI,NaN,PETANI,S1,REFA ANINDHITA AZ-ZAHRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
50,NaN,NaN,NaN,NaN,SUKILAH,NaN,IRT,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
51,NaN,NaN,NaN,NaN,SIYEM,NaN,IRT,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
52,HERI ERWANTO,NaN,ASN,S1,RATNAWATI,NaN,ASN,S1,GARZEKYALTAN DESTERA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
53,ADITIYA SYAFI'I ZUBAINI,NaN,PENGUSAHA,S1,FARICHA NUR RAHMAH,NaN,NaN,S1,ANINDIRA SHAUQEENA QIANDRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
61,NaN,SEJAHTERA,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
KrajanRT01.shape

(50, 38)

### RT02 - AMAN

In [244]:
KrajanRT02 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K20_KRAJAN/DATA PENDUDUK DUSUN SIDOREJO RT 01^J 02^J 03 KRAJAN RT 1,RT 2, RT 3 FIXX.xlsx', sheet_name='RT 2')
KrajanRT02 = KrajanRT02.iloc[5:]
KrajanRT02 = KrajanRT02.drop(KrajanRT02.columns[0], axis=1)
KrajanRT02.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,LUKMAN EFENDI,NaN,KEPALA DESA,S1,NaN,NaN,NaN,NaN,MUHAMMAD HARIR,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA

In [245]:
KrajanRT02.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [246]:
# DROP INDEKS 36-59
KrajanRT02 = KrajanRT02.drop(list(range(36,60)))

In [247]:
KrajanRT02.head(55)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,LUKMAN EFENDI,NaN,KEPALA DESA,S1,NaN,NaN,NaN,NaN,MUHAMMAD HARIR,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
6,NaN,NaN,NaN,NaN,MUTMAINAH,NaN,WIRASWASTA,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
7,JOKO PURNOMO,NaN,PETANI,SLTA,TITIK MAESAROH,NaN,PETANI,SLTA,HAJIS PRADANA PUTRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
8,CHABIB,NaN,SWASTA,S1,MIRA,NaN,IRT,SMP,LAILY KURNIAWATI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,ZAINURI,NaN,PNS,S1,SULIS ROFIAH,NaN,IRT,SLTA,AFID ARFANI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
10,NaN,NaN,NaN,NaN,HARTINAH,NaN,BURUH TANI,SD,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
11,SAKUR,NaN,NaN,SLTA,MASRIFAH,NaN,IRT,SLTP,FARID MASKURI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
12,SYAFRUDDIN,NaN,PNS,S1,SUHARTINAH,NaN,NaN,SMA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
13,G. TRI WAHYONO,NaN,BPBD,S1,DIAN KUSUMA,NaN,IRT,S1,FARAH AULIA AZZAHRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
14,SUGIYANTO,NaN,BURUH PABRIK,SD,IMROATUL KHASANAH,NaN,IRT,SLTA,MUHAMMAD ASHABI MAULIDAN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
15,NaN,NaN,NaN,NaN,NURHAYATI,NaN,IRT,SD,ALI MUSAFA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
16,AHMAD KENIDI,NaN,WIRASWASTA,SMA,NaN,NaN,NaN,NaN,KEYSHA JAUZA NASWA KENIDI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,PRA SEJAHTERA
17,NaN,NaN,NaN,NaN,SAMINEM,NaN,PETANI,SD,MISNU,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
18,NaN,NaN,NaN,NaN,MUBAYANAH,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
19,ACHMAD RIJAL,NaN,WIRASWASTA,S1,DINI SAFITRI,NaN,WIRASWASTA,S1,DEVANDRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
20,SLAMET RIYADI,NaN,PEDAGANG,SMK,NURHAYATI,NaN,IRT,SMA,DINI SAFITRI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
21,NaN,NaN,NaN,NaN,SUMARTI,NaN,IRT,SD,SUMANTO,NaN,...,NaN,NaN,NaN,√,√,NaN,NaN,NaN,NaN,SEJAHTERA
22,SUMANTO,NaN,BURUH TANI,SLTP,NaN,NaN,NaN,NaN,DWI YUSTIKA MAYSAPUTRI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
23,SENUN,NaN,PETANI,SD,MAS'AMAH,NaN,PETANI,SD,GALVA SHOFUAH RIFINA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
24,,NaN,NaN,NaN,ENDANG,NaN,PNS,S1,REKIYANA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
25,MASHUDI,NaN,BURUH TANI,SLTA,SUPYATUN,NaN,IRT,SD,WAHYU MEI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
26,NaN,NaN,NaN,NaN,SITI MASRUROH,NaN,PENSIUN PNS,SMA,NELVANA DWI CAHYANTI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
27,NaN,NaN,NaN,NaN,ENY ANALIYA,NaN,WIRASWASTA,SLTA,MUHAMMAD HABBI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
28,BARUDIN RIFAI,NaN,PETANI,SLTA,SITI MARFUAH,NaN,IRT,SLTP,SHAIKHA FATMAWATI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
29,MAHSUN,NaN,PETANI,SMP,SUNARTI,NaN,PETANI,SD,SAMSUL,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
30,SYAMSYUDIN,NaN,BURUH TANI,SMP,SITI FATIMAH,NaN,BURUH TANI,SMP,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
31,NaN,NaN,NaN,NaN,SRINGATUN,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
32,NaN,NaN,NaN,NaN,SAMSIAH,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
33,MUKRI YAHYA,NaN,-,SLTA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRA SEJAHTERA
34,SAMSUDIN,NaN,BURUH TANI,SMP,SITI FATIMAH,NaN,PETANI,SMP',NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
35,MAHFUD ABDULLAH,NaN,WIRAUSAHA,SMA,KARYATI,NaN,WIRAUSAHA,SMA,DHENY FIRNANDI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [248]:
KrajanRT02.shape

(31, 38)

### RT03 - AMAN

In [249]:
KrajanRT03 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K20_KRAJAN/DATA PENDUDUK DUSUN SIDOREJO RT 01^J 02^J 03 KRAJAN RT 1,RT 2, RT 3 FIXX.xlsx', sheet_name='RT 3')
KrajanRT03 = KrajanRT03.iloc[5:]
KrajanRT03 = KrajanRT03.drop(KrajanRT03.columns[0], axis=1)
KrajanRT03.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,KADIRAN,NaN,PETANI,-,MURIANA,NaN,PETANI,SD',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [250]:
KrajanRT03.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [251]:
# DROP INDEKS 40-59
KrajanRT03 = KrajanRT03.drop(list(range(40,60)))

In [252]:
KrajanRT03.head(55)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,KADIRAN,NaN,PETANI,-,MURIANA,NaN,PETANI,SD',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
6,MISMAN,NaN,PETANI,SD,SUCIATI,NaN,PETANI,SD',NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
7,DANU ASMARA,NaN,WIRAUSAHA,D3,DELLA MARBELA,NaN,WIRAUSAHA,S1,NAUSHAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
8,PUGUH SANTOSO,NaN,PERANGKAT DESA,SLTA,SITI ROBINGAH,NaN,IRT,SMP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,NaN,NaN,_,_,SITI ROKHMATIN,NaN,SERABUTAN,SD',ALIYA RAHMA AZZAHRA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
10,BASUNI,NaN,PURNA,_,RUMKHANA,NaN,IRT,SMP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
11,SUWANDI,NaN,PETANI,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
12,SUTIKNO,NaN,POLRI,SLTA,SRI HASTUTI,NaN,IRT,SLTA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
13,TRIO HERWINSYAH,NaN,KLINIK KESEHATAN,SPK (D3),NaN,NaN,NaN,NaN,SACHI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
14,MISKANTO,NaN,PETANI,SMA,SUMARI,NaN,PETANI,SD,HERGA ARDIANSYAH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
15,MUSIN,NaN,PETANI,SD,NANI,NaN,PETANI,MTS,NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
16,HARIYONO,NaN,WIRASWASTA,D3,NURHIDAYATI,NaN,IRT,SMA,EKA AGUSTINA,NaN,...,NaN,NaN,√,NaN,NaN,√,NaN,NaN,NaN,SEJAHTERA
17,SUBANI,NaN,NaN,SD,SAYUNA,NaN,IRT,NaN,AGUS BUDIYONO,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
18,ZAMRONI YUSUF,NaN,WIRASWASTA,SLTA,ESA,NaN,NaN,S1 PGSD,NAGITA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
19,SUGENG,NaN,WIRASWASTA,S1,RENI,NaN,NaN,S1,ZIDAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
20,MUHAMMAD ROSYIDIN,NaN,PETANI,SMA,FEBI,NaN,PETANI,S1,ASKA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
21,RIDWAN MUSTAFA,NaN,KARYAWAN SWASTA,S1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
22,SUWITO,NaN,WIRAUSAHA,SMP,HARNANIK,NaN,IRT,SMP,NURIL HAKIM,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
23,RENI ANTO,NaN,PETANI,SLTA,SUPARMI,NaN,IRT',SMP,RUDI KRISWANTO,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
24,NaN,NaN,NaN,NaN,SUMINI,NaN,IRT,SD,SUKATI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
25,HERI KUSWANTO,NaN,PETANI,SD,AMINATUN ZURIAH,NaN,PETANI,MTS,ARDI PRAWINATA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
26,SYAMSYUDIN,NaN,NaN,SMA,RINA JULIANTI,NaN,NaN,D3,RASYA O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
27,SUROTO,NaN,BURUHH TANI,SD,KASIATUN,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
28,AHMAD DAROJI,NaN,WIRASWASTA,SMA,ERNAWATI,NaN,IRT,SD,BILQIS ZAHRA FAIRUS AHMAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
29,SAMSURI,NaN,PETANI,SMP,DARWATI,NaN,PETANI,SD,DIVA PUTRA PRATAMA,NaN,...,NaN,√,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
30,AGUS YANTO,NaN,KEPALA SUB BIDANG BIMBINGAN DAN PENGENTASAN ANAK,S1,USWATUN CASANAH,NaN,NaN,S1,EDWIN MAHADIKA NUGRAHA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
31,MARZUKI,NaN,PETANI,SD,SITI FATIMAH,NaN,NaN,SMP,ENDRAS ERNAWATI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
32,SUGENG HARIANTO,NaN,WIRASWASTA,STM,ATIK WIDIAYI,NaN,NaN,SMA,WIDA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
33,AHMAD SUNARYO,NaN,PETANI/PENSIU GURU,D2,UMI SAUDAH,NaN,NaN,SMP,USWATUN CASANAH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
34,NUR IKSAN KHOLIS,NaN,PETANI,SLTA,SRI WAHUTI,NaN,NaN,SLTP,AQILAH AULIA IZZATUNNISA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
35,BAHRUDIN,NaN,PETANI,SLTA,SITI NURJANAH,NaN,NaN,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
36,SHUBARI,NaN,PNS,S1,KAETINI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
37,SUTIKNO,NaN,POLRI,SMA,SRI HASTUTI,NaN,NaN,SMA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
38,RUBIJIAN,NaN,BURUH TANI,SD,NaN,NaN,NaN,NaN,MUHAMMAD IDRIS AFANDI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
39,SUPRAPTO,NaN,BURUH TANI,NaN,WARSIYEM,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [253]:
KrajanRT03.shape

(35, 38)

### MERGE RT 1 2 3

In [ ]:
Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')
Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')

In [255]:
Data_Krajan.head(1)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
0,ALI IMRON,NaN,TUKANG,SMA,SITI ANJARIAH,NaN,GURU,S1,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [294]:
Data_Krajan = Data_Krajan[['Nama_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah','Kategori']]
Data_Krajan.columns = ['Nama', 'Pekerjaan', 'Pendidikan', 'Kategori']

### TOTAL DATA

In [ ]:
Data_Krajan.shape

## DUSUN SIDOREJO - AMAN

### RT01 - AMAN

In [257]:
SidorejoRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 01')
SidorejoRT01 = SidorejoRT01.iloc[5:]
SidorejoRT01 = SidorejoRT01.drop(SidorejoRT01.columns[0], axis=1)
SidorejoRT01.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

In [258]:
SidorejoRT01.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [259]:
SidorejoRT01.head(1)
# AMAN

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

In [260]:
SidorejoRT01.shape

(39, 38)

### RT02 - AMAN

In [261]:
SidorejoRT02 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 02')
SidorejoRT02 = SidorejoRT02.iloc[5:]
SidorejoRT02 = SidorejoRT02.drop(SidorejoRT02.columns[0], axis=1)
SidorejoRT02.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,Adi Marga Susila,"Ponorogo, 18 Desember 1965",Pengangguran,S1,Purwati,"Bojonegoro, 17 Agustus 1965",Ibu Rumah Tangga,SMP,Wahyu Ghany Abdullah,"Madiun, 24 Oktober 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH

In [262]:
SidorejoRT02.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [263]:
# DROP INDEKS 47-59
SidorejoRT02 = SidorejoRT02.drop(list(range(47,60)))

In [291]:
SidorejoRT02.head(42)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,Adi Marga Susila,"Ponorogo, 18 Desember 1965",Pengangguran,S1,Purwati,"Bojonegoro, 17 Agustus 1965",Ibu Rumah Tangga,SMP,Wahyu Ghany Abdullah,"Madiun, 24 Oktober 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
6,NaN,NaN,NaN,NaN,Tri Murtiningsih,"Ponorogo, 2 September 1962",Pensiunan,S2,Novita Tridini Maulida,"Ponorogo, 14 November 1987",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,SEJAHTERA
7,NaN,NaN,NaN,NaN,Mukhofifah,"Ponorogo, 16 April 1965",Wiraswasta,SMA,Ahmad Nafi'udin,"Ponorogo, 19 Februari 1991",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
8,Muchlas Bin Romlah,"Ponorogo, 5 Maret 1949",Pensiunan,SPG,Siti Chosiah,"Madiun, 3 Agustus 1961",Wiraswasta,SMA,Fauziana Meiko Wati,"Ponorogo, 30 Mei 1978",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
9,Much Bahrun Amrozi,"Ponorogo, 11 September 1974",Swasta,SLTA,Nur Saidah,Ponorogo,Guru,S1,Rayya Nayla Farha,"Ponorogo, 29 Desember 2006",...,NaN,NaN,√,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
10,Zen Suprapto,"Ponorogo, 3 April 1968",Petani,SMA,Ratmini,"Cilacap, 15 Januari 1971",Wiraswasta,SMA,Anggy Ardiya Cahyani,"Ponorogo, 4 Juli 1999",...,NaN,NaN,NaN,√,NaN,NaN,√,√,NaN,SEJAHTERA
11,NaN,NaN,NaN,NaN,Yayuk Istiani,"Ponorogo, 4 Juni 1967",Pedagang,SMA,Ramadhan Dwi Saputra,"Tangerang, 28 Februari 1965",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
12,Lukman Fajar,"Ponorogo, 27 Mei 1971",Wiraswasta,SMA,Siti Mualifah,"Ponorogo, 23 Desember 1976",Ibu Rumah Tangga,SMA,Rahajeng Anizatul Fadzilah,"Ponorogo, 14 September 2003",...,NaN,NaN,√,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
13,Suharto,NaN,Petani,SD,Tumirah,NaN,Petani,SD,Binti Muk Haromah,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
14,NaN,NaN,NaN,NaN,Sundusiyah,"Ponorogo, 30 Juni 1934",Petani,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,√,NaN,MENENGAH
15,Samingan Suprianto,"Ponorogo, 13 Maret 1957",Wiraswasta,Sekolah Perkapalan,Nurul Hidayati,"Ponorogo, 18 Mei 1963",Wiraswasta,SMA,David Surya Pratama,"Ponorogo, 06 Mei 1983",...,√,NaN,√,√,NaN,√,√,√,NaN,SEJAHTERA
16,Habib Musta'an,"Ponorogo, 13 Maret 1989",PNS,S2,Riski Olivia Citra Dewi,"Madiun, 29 Oktober 1988",Wiraswasta,S1,Azkiya Kirana Alesha,"Ponorogo, 31 Juli 2015",...,NaN,NaN,NaN,√,NaN,NaN,√,√,NaN,SEJAHTERA
17,NaN,NaN,NaN,NaN,Wiji Astuti,"Ponorogo, 30 Juli 1963",NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
18,Choirul Huda,"Ponorogo, 04 Juli 1983",Wiraswasta,SMA,Destin Oktaviana Astutik,"Ponorogo, 25 Oktober 1988",Wiraswasta,SMA,Dafiyya Mikayla Aerilyn,"Madiun, 19 Oktober 2014",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
19,Giono,"Ponorogo, 15 Juli 1967",Wiraswasta,SMA,Etik Nawiyati,"Ponorogo, 14 Februari 1966",PNS,SMA,Sheilla Tamara Putri,"Ponorogo, 18 Juni 2000",...,NaN,NaN,√,NaN,NaN,NaN,NaN,√,NaN,SEJAHTERA
20,Mahmudi,"Ponorogo, 25 Juni 1960",Buruh Tani,SLTA,Nur Eni,"Ponorogo, 25 Mei 1961",NaN,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
21,Juremi,"Ponorogo, 09 April 1969",Buruh Tani,SD,Kartinah,"Ponorogo, 16 Januari 1979",Buruh Tani,SD,Fila Tri Nurhidayanti,"Ponorogo, 05 Juni 2000",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
22,Suryanto,"Ponorogo, 15 Mei 1965",Tani,PGA,Supranti,"Ponorogo, 04 April 1973",Tani,SD,Randi Surya Pratama,"Ponorogo, 01 Februari 2000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
23,Budi Wahono,"Ponorogo, 03 Juni 1978",Wiraswasta,SMP,Nur Mitayani,"Ponorogo, 19 Juli 1984",NaN,SMP,Naesela,"Ponorogo, 10 Januari 2011",...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
24,Sukarni,"Ponorogo, 30 Juni 1950",NaN,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
25,NaN,NaN,NaN,NaN,Markonah,"Ponorogo, 30 Juni 1935",Petani,SD,Kusnudin,"Ponorogo, 07 Mei 1975",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
26,Toni,"Ponorogo, 16 Oktober 1963",Wiraswasta,SD,Suprihatin,"Ponorogo, 30 Juni 1966",Ibu Rumah Tangga,SD,Eko Hendri Kristiono,"Ponorogo, 15 Maret 1988",...,√,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
27,Supadi,"Ponorogo, 30 Juni 1957",Buruh Tani,SD,Siti Fatimah,"Ponorogo, 19 September 1963",Ibu Rumah Tangga,SLTP,Widya Anggara,"Ponorogo, 17 Deseember 1994",...,NaN,NaN,√,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
28,NaN,NaN,NaN,NaN,Sikem,"Ponorogo, 30 Juni 1934",NaN,NaN,Ismadno,"Ponorogo, 15 Juni 1967",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
29,Joko Nugroho,"Bangkalan, 21 Agustus 1982",Wiraswasta,S1,Eni Andayani,"Ponorogo, 28 November 1973",PNS,S1,Zacky Arya Nugroho,"Ponorogo, 11 Desember 2003",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,SEJAHTERA
30,Amin Tohari,"Ponorogo, 12 September 1964",Wiraswasta,SLTA,NaN,NaN,NaN,NaN,Zulfi Septian Nurrachkhim,"Ponorogo, 21 September 2003",...,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,NaN,SEJAHTERA
31,Imam Misni,"Ponorogo, 30 Januari 1957",Petani,SD,Sri Widayati,"Ponorogo, 27 Juni 1969",Petani,SLTP,Redy Purnama,"Ponorogo, 10 Januari 1991",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,SEJAHTERA
32,Qomarudin,"Ponorogo, 23 Januari 1975",Perangkat Desa,SLTA,Ika Lutfiana,"Ponorogo, 25 Juli 1980",Guru Swasta,S1,Lutfiana Zen Qomara,"Ponorogo, 04 April 2006",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
33,Marimin,"Ponorogo, 30 Juni 1955",Tani,SD,Siti Muriyam,"Ponorogo, 30 Juni 1960",Tani,SD,Mursid Triyono,"Ponorogo, 26 Agustus 1987",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
34,Yudi Harsono,"Ponorogo, 02 Juli 1969",Tani,SLTA,Sri Imayanti,"Ponorogo, 07 Agustus 1972",Swasta,SLTP,Yogi Indra Prayudha,"Ponorogo, 25 Januari 2000",...,NaN,NaN,√,NaN,NaN,NaN,NaN,√,NaN,SEJAHTERA
35,NaN,NaN,NaN,NaN,Nur Jannah,"Ponorogo, 11 Maret 1972",Swasta,SLTA,Henry Setiawan,"Ponorogo, 05 Oktober 1993",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
36,Choirudin,"Madiun, 11 Oktober 1983",Wiraswasta,SLTA,Ati Purwati,"Ponorogo, 11 Agustus 1986",NaN,SLTA,Ridwanul Mustofa,"Ponorogo, 11 Desember 2011",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
37,NaN,NaN,NaN,NaN,Sulistyowarni,"Madiun, 11 Juli 1960",Ibu Rumah Tangga,SLTA,Puguh Santoso,"Madiun, 29 April 1985",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
38,Abdul Rohman,"Ponorogo, 15 Agustus 1995",Wiraswasta,SLTP,Nia Ardina Saputri,"Ponorogo, 27 Desember 1996",Wiraswasta,SLTA,Elysia Arabella Nerissa,"Ponorogo, 31 Mei 2016",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
39,Sumani,"Ponorogo, 30 Juni 1948",Petani,SD,Sunarsih,"Ponorogo, 30 Juni 1962",Petani,SD,Nisaul Khoiriyah,"Ponorogo, 18 April 1963",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
40,Zainal Ngabidin,"Ponorogo, 13 Februari 1959",Tani,SD,Sjamsiyah,"Ponorogo, 30 Juni 1960",Tani,SD,Rohmawati,"Ponorogo, 20 Maret 1981",...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
41,NaN,NaN,NaN,NaN,Amanah,"Ponorogo, 31 Maret 1981",Tani,SLTP,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
42,Bahtiar Rifai,"Ponorogo, 03 Februari 1975",Wiraswasta,SMA,Aminah,"Ponorogo, 14 Juni 1975",Ibu Rumah Tangga,SMA,Marsha Falia Rifai,"Jakarta, 03 Januari 2004",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,Kelinci,MENENGAH
43,Tabsirudin,"Ponorogo, 27 September 1979",Swasta,SLTA,Indah Rahmawati,"Ponorogo, 16 September 1981",Ibu Rumah Tangga,SLTA,Naufal Mahardika Pratama,"Ponorogo, 23 Agustus 2006",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,SEJAHTERA
44,Muhtar Hakim,"Ponorogo, 10 November 1973",Guru,D4,Rida Nur Rahmawati,"Ponorogo, 14 Juni 1983",Guru,D4,Sofyan Daffa Al hakim,"Ponorogo, 13 Mei 2007",...,NaN,NaN,NaN,NaN,NaN,√,NaN,√,NaN,SEJAHTERA
45,Hariyanto,"Ponorogo, 08 Mei 1976",Wiraswasta,SMP,Arin Kriswandini,"Ponorogo, 10 Agustus 1979",Wiraswasta,SMA,Zumala Az Zahra,"Ponorogo, 10 Juni 2009",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
46,David Surya Pratama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA

In [265]:
SidorejoRT02.shape

(42, 38)

### RT03 - AMAN

In [266]:
SidorejoRT03 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 03')
SidorejoRT03 = SidorejoRT03.iloc[5:]
SidorejoRT03 = SidorejoRT03.drop(SidorejoRT03.columns[0], axis=1)
SidorejoRT03.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,SUPRIADI,"PONOROGO, 16 FEBRUARI 1973",WIRASWASTA,SLTP,MURYATI,"PONOROGO, 17 OKTOBER 1980",WIRASWASTA,SD,AISAH PUTRI PRATIWI,"PONOROGO, 23 OKTOBER 2005",...,-,-,-,-,-,-,-,√,NaN,MENENGAH

In [267]:
SidorejoRT03.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [268]:
SidorejoRT03.head(49)
# AMAN

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,SUPRIADI,"PONOROGO, 16 FEBRUARI 1973",WIRASWASTA,SLTP,MURYATI,"PONOROGO, 17 OKTOBER 1980",WIRASWASTA,SD,AISAH PUTRI PRATIWI,"PONOROGO, 23 OKTOBER 2005",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
6,IMRON ZUBAIDI,"PONOROGO, 29 JULI 1977",WIRASWASTA,SLTA,ISMIATIN,"PONOROGO, 19 JULI 1977",PNS,D4,NAUFAL RIATTA AHADAN ZUBAIDI,"PONOROGO, 11 FEBRUARI 2007",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
7,SUGENG RIYADI,"KEDIRI, 30 NOVEMBER 1970",SWASTA,SLTA,ANA INDIYAWATI,"PONOROGO, 4 MARET 1977",SWASTA,SLTA,KUNCORO BAYU SAPUTRO,"PONOROGO, 17 JUNI 1996",...,-,-,-,√,-,-,√,√,NaN,SEJAHTERA
8,ALM. MUHTAROM,-,-,-,ENDANG SUPRIHATIN,"PONOROGO, 26 SEPTEMBER 1966",BURUH TANI,SLTA,TAFIDA NUR LAILY AZIZATIN,"PONOROGO, 30 JULI 2004",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
9,FAIZ FARUKI AL-KHUDZAIFI,"PONOROGO, 12 AGUSTUS 1994",SWASTA,SLTA,FRISKA NUR'AINI NOVITASARI,"PONOROGO, 27 NOVEMBER 1992",-,SLTA,-,-,...,-,-,-,-,-,-,-,√,NaN,MENENGAH
10,MUZAYIN,"PONOROGO, 26 MARET 1969",TANI,SLTA,PUJI ASTUTI,"PONOROGO, 8 JULI 1976",WIRASWASTA,SLTP,ADAM FIRMANSYAH,"PONOROGO, 16 SEPTEMBER 2002",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
11,ABDUL MANAF,"MADIUN, 7 MARET 1979",KARYAWAN SWASTA,SLTA,ANISATUL FADLILAH,"PONOROGO, 1 AGUSTUS 1986",KARYAWAN SWASTA,S1,JAISYAN ILHAM MUHAMMAD,"PONOROGO, 17 APRIL 2022",...,-,-,-,√,-,-,-,√,NaN,MENENGAH
12,-,-,-,-,SUPIYATUN,"PONOROGO, 4 FEBRUARI 1939",-,SD,MOH. YASIN,"PONOROGO, 11 SEPTEMBER 1975",...,-,-,√,√,-,-,-,√,NaN,PRASEJAHTERA
13,MUSTAJAB,"PONOROGO, 30 MEI 1957",TANI,SLTP,UMI NURYANI,"PONOROGO, 9 JULI 1965",-,SLTA,KHOIRUL ANAM,-,...,-,-,√,-,-,-,-,√,NaN,MENENGAH
14,FANANI AFANDI,"PONOROGO, 24 NOVEMBER 1968",SWASTA,PGAN,SRI MULYANI,"PONOROGO, 26 OKTOBER 1975",SWASTA,SLTA,RAIHAN AFANDI,"PONOROGO, 24 DESEMBER 2005",...,√,-,√,-,-,-,√,√,NaN,SEJAHTERA
15,FUDOLI,"PONOROGO, 23 DESEMBER",SOPIR,SD,LAILATUL MUHAR0MAH,"PONOROGO, 21 NOVEMBER",GURU HONORER,S1,DINARA LATIZA LAILI BRILLIANT,"PONOROGO, 23 SEPTEMBER",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
16,HERI KUSWANTO,"PONOROGO, 4 JANUARI 1957",-,SLTA,SITI NUASIAH,"PONOROGO, 20 JUNI 1980",IBU RUMAH TANGGA,SLTA,FAHRUL RIZKY,"PONOROGO, 4 NOVEMBER 2001",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
17,MUSTAQIM,"MALANG, 3 MARET 1980",KARYAWAN SWASTA,D1,RENY ANDHIKA HAPSARI,"TRENGGALEK, 25 NOVEMBER 1984",PNS,S1,KALYCA AIESYA INARA,"TRENGGALEK, 23 DESEMBER 2011",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
18,-,-,-,-,ENI DWI WINARSIH,"PONOROGO, 31 AGUSTUS 1963",WIRASWASTA,SLTP,TANTI EKO BUDIARTI,"PONOROGO, 31 AGUSTUS 1980",...,-,-,-,√,-,-,-,√,NaN,MENENGAH
19,SENI,"PONOROGO, 6 AGUSTUS 1968",BURUH HARIAN LEPAS,TIDAK SEKOLAH,RINI DWI RATNASARI,"PONOROGO, 25 OKTOBER 1983",IBU RUMAH TANGGA,SLTA,AHMAD FATHONI,"PONOROGO, 6 DESEMBER 2003",...,-,-,-,-,√,-,-,√,NaN,MENENGAH
20,DOFIR MASRURI,"PONOROGO, 6 MARET 1976",PETANI,SLTA,ERNA ZUNAIDAH,"PONOROGO, 30 JUNI 1977",IBU RUMAH TANGGA,SLTP,YAZID ABIL WAFA,"PONOROGO, 11 JULI 2008",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
21,SUKARJI,"MADIUN, 15 - 1964",PENSIUNAN,-,SURYANI,"MADIUN, 1 APRIL 1975",PETANI,SLTA,EMILYA FEBRIANTI,"MADIUN, 28 FEBRUARI 2001",...,-,-,-,√,-,√,-,√,NaN,SEJAHTERA
22,TRISNO BADARUL ULUM,"PONOROGO, 5 APRIL 1982",WIRASWASTA,ALIYAH,RINA KUSUMAWATI,"MAGETAN, 11 JANUARI 1987",WIRASWASTA,SLTA,ANNISA SHALAWATI AZZAHRA,"BERAU, 16 OKTOBER 2013",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
23,KHOLIQ BAHTIAR,"PONOROGO, 5 DESEMBER 1985",WIRASWASTA,SLTA,INDAH WIDYANINGSIH,"MADIUN, 28 JUNI 1992",IBU RUMAH TANGGA,SLTA,ZULFADLI,"MADIUN, 6 JUNI 2017",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
24,SLAMET,PONOROGO,WIRASWASTA,SLTP,ASRINGAH,PONOROGO,WIRASWASTA,SLTA,OKTA DWI KHARISMA,PONOROGO,...,-,-,-,-,-,-,-,√,NaN,MENENGAH
25,MOH. DAWAM,"KEDIRI, 10 MEI 1960",SWASTA,SLTP,SRI RAHAYU WIDODO,"PONOROGO, 8 AGUSTUS 1961",-,SLTP,AMANG FATUROHMAN,"MADIUN, 26 DESEMBER 1986",...,-,-,-,√,-,-,-,-,NaN,MENENGAH
26,DEA AGUNG WICAKSONO,"MADIUN, 13 DESEMBER 1991",-,SMK,DIAN SRI WULANDARI,"PONOROGO, 18 JANUARI 1990",IBU RUMAH TANGGA,SLTA,ARACHELLY SATIVA WICAKSONO,"PONOROGO, 8 DESEMBER 2016",...,-,-,-,-,-,-,-,-,NaN,PRASEJAHTERA
27,-,-,-,-,SUKATIN,"PONOROGO, 25 JUNI 1957",-,SD,YETIK INDRAWATI,"PONOROGO, 5 JULI 1974",...,-,-,-,√,-,-,-,-,NaN,PRASEJAHTERA
28,KHOIRUL ABIDIN,"PONOROGO, 24 DESEMBER 1972",PNS,SLTA,WIWIK ERNAWATI,"PONOROGO, 15 DESEMBER 1974",WIRASWASTA,SLTA,ERISKA DEWI PRATIWI,"PONOROGO, 25 JUNI 1998",...,-,-,-,√,-,-,-,√,NaN,SEJAHTERA
29,TULUS WAHYUDI,"PONOROGO, 16 AGUSTUS 1969",WIRASWASTA,SD,LILIK HERLINA,"PONOROGO, 24 MARET 1975",WIRASWASTA,SLTP,DIKA WAHYUDIN P,"PONOROGO, 29 JANUARI 2001",...,-,-,-,-,-,-,-,-,NaN,MENENGAH
30,SUHARTO,"PONOROGO, 18 SEPTEMBER 1962",PETANI,SLTP,UMI MUJAYANAH,"PONOROGO, 3 FEBRUARI 1966",IBU RUMAH TANGGA,SLTA,-,-,...,-,-,√,-,-,-,-,√,NaN,PRASEJAHTERA
31,AFTORUDIN,"PONOROGO, 10 JUNI 1967",SWASTA,SD,IDA SUNARTI,"PONOROGO, 2 MEI 1967",IBU RUMAH TANGGA,SLTP,VIVI FRIDAYANTI,"PONOROGO, 28 AGUSTUS 1995",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
32,MUHAMMAD MAGHFUR,"PONOROGO, 20 FEBRUARI 1975",KARYAWAN SWASTA,SLTA,-,-,-,-,-,-,...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
33,ANDIK HADI SISWANTO,"PONOROGO, 10 SEPTEMBER 1979",WIRASWASTA,SLTA,WENI ASTUTI,"PACITAN, 29 JUNI 1980",WIRASWASTA,SLTP,WINDY ELISA PUTRI,"PONOROGO, 29 MARET 2010",...,-,-,-,√,-,-,-,√,NaN,MENENGAH
34,ALI MUSTOFA,"PONOROGO, 14 MEI 1978",BURUH,SLTA,WINARSIH,"TRENGGALEK, 27 AGUSTUS 1985",IBU RUMAH TANGGA,SLTA,M. NAUFAL AL'AYYUBI,"PONOROGO, 21 SEPTEMBER 2009",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
35,SLAMET WIDODO,"PONOROGO, 1 DESEMBER 1972",SWASTA,SLTA,DWI PUJI LESTARI,"PONOROGO, 25 MARET 1983",IBU RUMAH TANGGA,SLTA,-,-,...,-,-,-,-,-,-,-,√,NaN,MENENGAH
36,DIMYATI,"PONOROGO, 30 JUNI 1954",PETANI,SD,NaN,NaN,NaN,NaN,WIWIT FEBRIYANI,"PONOROGO, 19 FEBRUARI 1981",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
37,WIJIANTO,"PONOROGO, 28 SEPTEMBER 1968",WIRASWASTA,SLTP,SULASTRI,"JOMBANG, 5 SEPTEMBER 1979",WIRASWASTA,SLTP,IKA NOVITASARI,"PONOROGO, 27 JUNI 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
38,FATHURROHMAN,"MADIUN, 15 JULI 1998",WIRASWASTA,SLTA,IKA NOVITASARI,"PONOROGO, 27 JUNI 1997",KARYAWAN SWASTA,SLTA,M. ALBY PASHA NATANAGARA,"PONOROGO, 24 JULI 2019",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
39,SUYONO,PONOROGO,WIRASWASTA,SLTP,SITI JUARIAH,PONOROGO,PEDAGANG,SLTP,MUHHAMAD YOSINDA,PONOROGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
40,SUKAMTO,"PONOROGO, 10 FEBRUARI 1940",PETANI,SD,WIDJATI,"PONOROGO, 2 APRIL 1954",PETANI/IRT,SD,ANGGA ROY S,"PONOROGO, 3 APRIL 1995",...,√,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
41,M. DAROINI,"PONOROGO, 22 DESEMBER 1950",SWASTA,SLTA,SUNDARI,"PONOROGO, 23 FEBRUARI 1959",SWASTA,SLTA,VITA KHALIMATUSSA'DIAH,"PONOROGO, 31 NOVEMBER 1979",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,PRASEJAHTERA
42,IBNU ATOILAH,1 MARET 1967,SWASTA,SLTP,TITIK SRIYATIN,21 MARET 1972,SWASTA,SLTP,LENI SEPTIAN DANUATI,1991-09-06 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
43,DONY WIDIANARKO,"PONOROGO, 17 APRIL 1979",PETANI,SLTA,SITI ROFIAH,"LAMPUNG, 1 JANUARI 1984",NaN,SLTA,MARSYA AWRA PUTRI BATRISIA,"LAMPUNG, 21 JULI 2009",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
44,ZAINUL ARIFIN,"PONOROGO, 12 FEBRUARI 1970",WIRASWASTA,SLTA,NURJANNAH,"INHIL, 21 JULI 1976",SWASTA,D3,MUHAMMAD DIMAS ALFAJOR,"PONOROGO, 17 JUNI 2005",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
45,AMANG FATCHURRAHMAN,MADIUN 26 DESEMBER 1986,SWASTA,SMK,GIZLIYA WAHYU SETYA WARDANI,"PONOROGO, 27 AGUSTUS 1987",IRT,SARJANA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
46,NaN,NaN,NaN,NaN,MISTUN,"PONOROGO, 30 JUNI 1966",WIRASWASTA,SLTP,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
47,KHORIP IKHSANUDIN,"PONOROGO, 31 JULI 1983",WIRASWASTA,SMA,MARIATIN,"PONOROGO, 28 AGUSTUS 1959",IRT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
48,LAMUN,"MADIUN, 16 FEBRUARI 1966",PETANI,SD,UPRIYANTI,"PONOROGO, 2 DESEMBER 1976",IRT,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
49,FARHAN,"SERANG, 14 MARET 2000",SWASTA,SLTP,VIVI FRIDAYANTI,"PONOROGO, 28 AGUSTUS 1995",NaN,SMA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
50,KADENI,"PONOROGO, 13 MEI 1963",PETANI,SLTA,HANINGMAS KIYATI,"PONOROGO, 20 JUNI 1966",PETANI,SLTP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
51,SEPTIAN ANDRIWIJAYA,"PONOROGO, 2 SEPTEMBER 1985",PETANI,SLTA,FARIDA YASTANTI,"PONOROGO, 13 MEI 1954",IRT,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
52,JOKO SETIONO,"PONOROGO, 5 OKTOBER 1983",KARYAWAN SWASTA,SLTA,MAS AYU YUNIAWATISNANI,"MALUKU TENGAH, 13 JUNI 1992",KARYAWAN BUMN,S1,ROBBY HAFID MAULANA,"PONOROGO, 30 APRIL 2018",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
53,MUHAMMAD NASTANGIN,"PONOROGO, 3 DESEMBER 1973",PETANI,SLTA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH

In [269]:
SidorejoRT03.shape

(49, 38)

### MERGE RT 1 2 3

In [270]:
SidorejoRT01.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [271]:
SidorejoRT02.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [272]:
SidorejoRT03.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [273]:
Data_Sidorejo = pd.merge(SidorejoRT01, SidorejoRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')
Data_Sidorejo = pd.merge(Data_Sidorejo, SidorejoRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')

In [274]:
Data_Sidorejo.head(1)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
0,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

In [298]:
Data_Sidorejo = Data_Sidorejo[['Nama_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah','Kategori']]
Data_Sidorejo.columns = ['Nama', 'Pekerjaan', 'Pendidikan', 'Kategori']

### TOTAL DATA

In [275]:
Data_Sidorejo.shape

(130, 38)

## DUSUN JASEM - AMAN

### RT01 - AMAN

In [276]:
JasemRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K22_JASEM/RekapSurveySensus_K22.xlsx', sheet_name='RT 1')
JasemRT01 =  JasemRT01.iloc[2:]
JasemRT01.head(1)

  Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
2    Suyatno  Buruh Tani    2 Motor        SMP     1 Anak     Kuning

In [277]:
JasemRT01.columns = ['Nama', 'Pekerjaan', 'Aset', 'Pendidikan', 'Jumlah Tanggungan', 'Kategori']

In [278]:
JasemRT01.head(36)
# AMAN

,Nama,Pekerjaan,Aset,Pendidikan,Jumlah Tanggungan,Kategori
2,Suyatno,Buruh Tani,2 Motor,SMP,1 Anak,Kuning
3,Abdurrohman,NaN,NaN,NaN,NaN,Hijau
4,Sri Mulyati,Guru,3 Motor dan 1 Mobil,S1,Tidak Ada,Hijau
5,Yoyok Susanto,Swasta,3 Motor dan 1 Mobil,SMA,Tidak Ada,Hijau
6,Siti Mariyam,Wiraswasta,2 Motor,SMP,Tidak Ada,Merah
7,Budi Prasetyo,NaN,NaN,NaN,NaN,Hijau
8,Siti Fatonah,Ibu Rumah Tangga,1 Motor,SMP,Tidah Ada,Merah
9,Khabib Soleh,Petani,2 Motor,SD,2 Anak,Merah
10,Arif Kurniawan,Guru/Pengusaha,6 Motor dan 9 Mobil,S1,2 Anak,Hijau
11,Fatimatul Qoyimah,NaN,1 Motor,SD,Tidak Ada,Hijau
12,Syaiful Bahri,Kuli Bangunan,2 Motor,SMP,1 Anak,Kuning
13,Muflih Nur Huda,Swasta,1 Motor,SMA,Tidak Ada,Hijau
14,Harni,Serabutan,2 Motor,SD,1 Anak,Merah
15,Aminoto,Petani,2 Motor dan 1 Mobil,SMA,2 Anak,Hijau
16,Musdalifah,Tidak Bekerja,Tidak Ada,SD,Tidak Ada,Merah
17,Waladun Ihsani,Perangkat Desa?Petani,2 Motor,S1,1 Anak,Hijau
18,Slamet Riyatno,Petani,2 motor,SMP,Tidak Ada,Hijau
19,Aldira Hardian Anoraga,RS. Umum Madiun,1 Motor,S1,1 Anak,Hijau
20,Wawan Krisdiato,TKI,2 Motor,SMA,1 Anak,Merah
21,Ruwaji,Buruh Tani,1 Motor,SD,Tidak Ada,Merah
22,Doni Aprilianto,Wiraswasta,3 Motor dan 1 mobil,SMA,1 Anak,Hijau
23,Samsul Hadi,Swasta,1 Motor,SMA,Tidak Ada,Merah
24,Siti Romlah,Petani,3 Motor dan 1 Mobil,D2,Tidak Ada,Hijau
25,Misni Purwanto,Petani,1 Motor,SMP,1 Anak,Kuning
26,Sofwan,Petani,Tidak Ada,SD,Tidak Ada,Merah
27,Agus Syafei,Swasta,2 Motor,SMA,1 Anak,Hijau
28,Siti Sundari,Petani,1 Motor,SD,Tidak Ada,Merah
29,Zainal Arifin,Petani,1 Motor,SMP,Tidak Ada,Merah
30,Abu Mansur,Petani,1 Motor,SD,1 Anak,Merah
31,Dardiri,Petani,2 Motor,SMA,Tidak Ada,Kuning
32,Syairi,Buruh Tani,1 Motor,SMP,Tidak Ada,Merah
33,Elrofiq Masruchin,Karyawan Swasta,4 motor dan 1 Mobil,D3,1 Anak,Hijau
34,Bhusaini,Buruh Tani,3 Motor,SMA,2 Anak,Kuning
35,Miftakul Zahri,Wiraswasta,3 motor,SMA,2 Anak,Hijau
36,Harianto,Petani,2 Motor,SMP,1 Anak,Merah
37,Suminto,Petani,2 Motor,SD,Tidak Ada,Kuning

In [279]:
JasemRT01.shape

(36, 6)

### RT02 - AMAN

In [280]:
JasemRT02 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K22_JASEM/RekapSurveySensus_K22.xlsx', sheet_name='RT 2')
JasemRT02 =  JasemRT02.iloc[2:]
JasemRT02.head(1)

  Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
2    Sutarto  Wiraswasta    1 Motor       SLTP     2 Anak      Merah

In [281]:
JasemRT02.columns = ['Nama', 'Pekerjaan', 'Aset', 'Pendidikan', 'Jumlah Tanggungan', 'Kategori']

In [282]:
JasemRT02.head(47)
# AMAN

,Nama,Pekerjaan,Aset,Pendidikan,Jumlah Tanggungan,Kategori
2,Sutarto,Wiraswasta,1 Motor,SLTP,2 Anak,Merah
3,Mujiono,Buruh Tani,4 Motor,TK,Tidak Ada,Merah
4,H. Ma'ruf,Pensiunan KUA,1 Motor,SLTA,Tidak Ada,Hijau
5,A. Mufaizin,Petani,1 Motor,SLTP,Tidak Ada,Hijau
6,Jukenti,TKW,2 Motor,SMP,Tidak Ada,Kuning
7,Heri,Operator Genset,1 Motor,S1,Tidak ada,Kuning
8,Agung Wiyono,Sopir Truk,3 Motor,SLTA,2 Anak,Kuning
9,Sastro Tunggak,Tidak Bekerja,2 Motor,SD,Tidak Ada,Kunimg
10,Andriana,Petani,2 Motor,SMA,1 Anak,Merah
11,Kantun,Petani,2 Motor,SMP,Tidak Ada,Merah
12,Siti Masroqah,Ibu Rumah Tangga,1 Motor dan 1 Mobil,SMA,Tidak Ada,Hijau
13,Muhibbudin Fathun,SPV,2 Motor,S1,3 Anak,Hijau
14,Wiji,Petani,2 Motor,SD,Tidak Ada,Kuning
15,Is Mulyanto,Wiraswasta,1 Motor,SMP,Tidak Ada,Merah
16,Turmudi,Buruh Tani,2 Motor,SMP,Tidah Ada,Merah
17,Sunardi,Petani,1 Mobil,SMP,Tidak Ada,Hijau
18,Suparno,Wiraswasta,Tidak Ada,MA,Tidak Ada,Merah
19,Suyanto,Wiraswasta,3 Motor,SMK,2 Anak,Kuning
20,Dodi,Inka,2 Motor,SMA,1 Anak,Kuning
21,Umi,Swasta,2 Motor,SD,Tidak Ada,Kuning
22,Amru Irwansyah,Wiraswasta,3 Motor dan 1 Mobil,S1,2 Anak,Hijau
23,H. Mastur,Pensiunan Sopir,2 Motor,SD,Tidak Ada,Hijau
24,Siti Fatimah,Buruh Tani,1 Motor,SD,Tidak Ada,Merah
25,Maulana Efrendi,TKI,2 Motor,SMA,1 Anak,Kuning
26,Mulyadi,Serabutan,1 Motor,SMP,1 Anak,Kuning
27,Jamin,Petani,1 motor,SD,1 Anak,Hijau
28,Sujianto,Pemborong,4 Motor dan 1 Mobil,SLTA,1 Anak,Hijau
29,Sutrisno,Petani,2 Motor,SMP,Tidak Ada,Hijau
30,Sakur,Petani,1 Motor,SMP,Tidak Ada,Kuning
31,Surami Ningsih,Pedagang UMKM,1 Motor,SMP,Tidak Ada,Merah
32,Aqhid Amri,Kuli Bangunan,1 Motor,SLTP,1 Anak,Merah
33,Anif Supriyono,Kuli Bangunan,2 Motor,SMA,2 Anak,Kuning
34,Sukamto,Buruh Tani,Tidak Ada,SLTA,Tidak Ada,Merah
35,Mitiran,Buruh Tani,Tidak Ada,SD,Tidak Ada,Merah
36,Kusnudin,NaN,NaN,NaN,NaN,Hijau
37,Bambang Adi Suwarno,"Warkop, Usaha ternak",2 Motor,SLTA,Tidak Ada,Kuning
38,Atik Rohmaatin,Tidak Bekerja,1 Motor,SD,Tidak Ada,Hijau
39,Siti Khotijah,Petani,1 Motor,SD,Tidak Ada,Kuning
40,Safrudin,Wiraswasta dan Petani,2 Motor,SMA,2 Anak,Kuning
41,Putut,Guru,2 Motor dan 1 Mobil,S2,2 Anak,Hijau
42,Hajah Sumarti,Petani,3 Motor dan 1 Mobil,PGA,2 Anak,Hijau
43,Eri Prasetyowati,Wiraswasta,4 Motor dan 1 Mobil,SMA,2 Anak,Hijau
44,Hadi Prayitno,Petani,4 Motor,SMA,1 Anak,Hijau
45,Sugiono,Petani,2 Motor,SMP,1 Anak,Hijau
46,Sukati,Ibu Rumah Tangga,Tidak Ada,SD,Tidak Ada,Merah
47,Sugianto,Buruh Tani,2 Motor,SLTA,2 Anak,Kuning
48,Muh. Basuni,Petani,2 Motor,SD,Tidak Ada,Hijau

In [283]:
JasemRT02.shape

(47, 6)

### RT03 - AMAN

In [284]:
JasemRT03 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K22_JASEM/RekapSurveySensus_K22.xlsx', sheet_name='RT 3')
JasemRT03 =  JasemRT03.iloc[2:]
JasemRT03.head(1)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,Hendik Franky Ariasta,Wiraswasta,2 Motor,SLTP,2 Anak,Kuning

In [285]:
JasemRT03.columns = ['Nama', 'Pekerjaan', 'Aset', 'Pendidikan', 'Jumlah Tanggungan', 'Kategori']

In [286]:
JasemRT03.head(45)
#  AMAN

,Nama,Pekerjaan,Aset,Pendidikan,Jumlah Tanggungan,Kategori
2,Hendik Franky Ariasta,Wiraswasta,2 Motor,SLTP,2 Anak,Kuning
3,Sutikno,Buruh Tani,3 Motor 2 Mobil,SMA,3 Anak,Hijau
4,Agus Sait,Karyawan Swasta,2 Motor 1 Mobil,S1,Tidak Ada,Hijau
5,Rizal Imanta Wijaya,Karyawan Swasta,2 Motor 1 Mobil,SMA,2 Anak,Hijau
6,Andik Wijanarko,PNS,NaN,NaN,NaN,Hijau
7,Dedi Wiis,POLRI,NaN,NaN,NaN,Hijau
8,Sugiyono,Tukang Bangunan,3 Motor,SMA,1 Anak,Kuning
9,Chudri,TKI,2 Motor,SMP,2 Anak,Kuning
10,Suwandi,Petani,2 Motor,SD,2 Anak,Kuning
11,Surya Anggi Romadhon Sobirin,Petani,2 Motor,SMK,Tidak Ada,Kuning
12,Sukardi,Petani,Tidak Ada,SMP,Tidak Ada,Merah
13,Windu Guntari,Guru,3 Motor 2 Mobil 2 Sepeda,S1,1 Anak,Hijau
14,Hari Budi Santoso,POLRI,3 Motor 1 Mobil,SMA,3 Anak,Hijau
15,Supiyon,Perangkat Desa,1 Motor 1 Mobil,SMA,Tidak Ada,Hijau
16,Hening Anggraito Nugroho,Supir,1 Motor,SMA,1 Anak,Kuning
17,Khamsanah,Buruh Tani,2 Motor,SD,Tidak Ada,Kuning
18,Damis,Buruh Tani,1 Motor,SD,2 Anak,Merah
19,Janun,Petani,4 Motor,SD,Tidak Ada,Kuning
20,Kadar,Petani,3 Motor,SD,Tidak Ada,Kuning
21,Sabarudin,Petani,5 Motor,SD,1 Anak,Kuning
22,Handoko,POLRI,4 Motor 1 Mobil,SMA,2 Anak,Hijau
23,Suyanto,TKI,4 Motor,SLTP,2 Anak,Hijau
24,Tri Nanggano,Pensiunan,2 Motor,SLTA,Tidak Ada,Hijau
25,Dendi Azis Wirawan,Wiraswasta,3 Motor,MA,Tidak Ada,Hijau
26,Patok,Petani,2 Motor,SD,Tidak Ada,Hijau
27,Syaiful Anam,Wiraswasta,2 Motor 2 Mobil,SLTA,2 Anak,Hijau
28,Joko Tetuko,POLRI,2 Motor 1 Mobil,S1,2 Anak,Hijau
29,Tukiman,Buruh Tani,Tidak Ada,NaN,1 Anak,Merah
30,Nur Kholis,Wiraswasta,3 Motor,SLTA,3 Anak,Hijau
31,Suwandi,Swasta,1 Motor,SLTA,Tidak Ada,Kuning
32,Sudarni,Ibu Rumah Tangga,Tidak Ada,SD,Tidak Ada,Merah
33,Diah Puspitasari,Kreator,1 Motor,SMA,2 anak,Kuning
34,Suyudi,Buruh Tani,2 Motor,SD,2 Anak,Kuning
35,Agung Winarko,Wiraswasta,2 Motor 1 Mobil,SLTA,1 Anak,Hijau
36,Budi Santoso,Petani,3 Motor 3 Mobil,SMA,2 Anak,Hijau
37,Sutarmi,Ibu Rumah Tangga,Tidak Ada,SD,Tidak Ada,Hijau
38,Endra Kustiawan,Karyawan Swasta,1 Motor 1 Mobil,S1,2 Anak,Hijau
39,Ugik,Wiraswasta,3 Motor 1 Truk,SLTA,1 Anak,Hijau
40,Martini,Ibu Rumah Tangga,Tidak Ada,SD,Tidak Ada,Merah
41,Harning,Wiraswasta,3 Motor,SD,Tidak Ada,Hijau
42,Sakun,Wiraswasta,3 Motor,SMP,2 Anak,Kuning
43,Titik Sriyani,Pemilik Toko Bangunan,Tidak Ada,SMP,Tidak Ada,Merah
44,Sundoyo,Purnawirawan PNS,1 Motor,SLTA,Tidak Ada,Kuning
45,Yani Subandyo,PNS,2 Motor,S1,2 Anak,Hijau
46,Wildan,Pedagang,2 Motor,SMK,Tidak Ada,Kuning

In [287]:
JasemRT03.shape

(45, 6)

### MERGE RT 1 2 3

In [288]:
Data_Jasem = pd.merge(JasemRT01, JasemRT02, on=['Nama', 'Pekerjaan', 'Aset', 'Pendidikan', 'Jumlah Tanggungan',
       'Kategori'], how='outer')
Data_Jasem = pd.merge(Data_Jasem, JasemRT03, on=['Nama', 'Pekerjaan', 'Aset', 'Pendidikan', 'Jumlah Tanggungan',
       'Kategori'], how='outer')

In [301]:
Data_Jasem.columns

Index(['Nama', 'Pekerjaan', 'Aset', 'Pendidikan', 'Jumlah Tanggungan',
       'Kategori'],
      dtype='object')

In [302]:
Data_Jasem = Data_Jasem[['Nama', 'Pekerjaan', 'Pendidikan', 'Kategori']]

In [303]:
Data_Jasem.head()

            Nama   Pekerjaan Pendidikan Kategori
0        Suyatno  Buruh Tani        SMP   Kuning
1    Abdurrohman         NaN        NaN    Hijau
2    Sri Mulyati        Guru         S1    Hijau
3  Yoyok Susanto      Swasta        SMA    Hijau
4   Siti Mariyam  Wiraswasta        SMP    Merah

### TOTAL DATA

In [304]:
Data_Jasem.shape

(128, 4)

## KRAJAN SIDOREJO JASEM

In [300]:
Data_KrajanSidorejo = pd.merge(Data_Krajan, Data_Sidorejo, on=['Nama', 'Pekerjaan', 'Pendidikan', 'Kategori'], how='outer')
Data_KrajanSidorejo.head()

                Nama            Pekerjaan Pendidikan  Kategori
0          ALI IMRON               TUKANG        SMA  MENENGAH
1            SUMANTO           BURUH TANI        SMP  MENENGAH
2  ARIF WAHYU WIDODO  PEGAWAI RUMAH SAKIT        SMA  MENENGAH
3            KADIMUN               TUKANG        SMA  MENENGAH
4              SAKRI               PETANI         SD  MENENGAH

In [305]:
Data_KrajanSidorejoJasem = pd.merge(Data_KrajanSidorejo, Data_Jasem, on=['Nama', 'Pekerjaan', 'Pendidikan', 'Kategori'], how='outer')
Data_KrajanSidorejoJasem.head()

                Nama            Pekerjaan Pendidikan  Kategori
0          ALI IMRON               TUKANG        SMA  MENENGAH
1            SUMANTO           BURUH TANI        SMP  MENENGAH
2  ARIF WAHYU WIDODO  PEGAWAI RUMAH SAKIT        SMA  MENENGAH
3            KADIMUN               TUKANG        SMA  MENENGAH
4              SAKRI               PETANI         SD  MENENGAH

In [306]:
Data_KrajanSidorejoJasem.shape

(494, 4)