<a href="https://colab.research.google.com/github/alouvre/ProyekDesa_Sedah/blob/main/ProyekDesa_SensusDesaSedah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# !git clone https://github.com/alouvre/ProyekDesa_Sedah.git

In [8]:
import pandas as pd

# **COLLECTING DATA**

## DUSUN KRAJAN - REVISI

### RT01 - DROP 54-61

In [9]:
KrajanRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K20_KRAJAN/DATA PENDUDUK DUSUN SIDOREJO RT 01^J 02^J 03 KRAJAN RT 1,RT 2, RT 3 FIXX.xlsx', sheet_name='RT 1')
KrajanRT01 = KrajanRT01.iloc[5:]
KrajanRT01 = KrajanRT01.drop(KrajanRT01.columns[0], axis=1)
KrajanRT01.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,ALI IMRON,NaN,TUKANG,SMA,SITI ANJARIAH,NaN,GURU,S1,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [10]:
KrajanRT01.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [49]:
KrajanRT01.head(57)
# DROP INDEKS 54-61

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,ALI IMRON,NaN,TUKANG,SMA,SITI ANJARIAH,NaN,GURU,S1,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
6,SUMANTO,NaN,BURUH TANI,SMP,SITI ZAINAB,NaN,NaN,SMA,APRILIA SAMANTA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
7,ARIF WAHYU WIDODO,NaN,PEGAWAI RUMAH SAKIT,SMA,RULI WIDYAWATI,NaN,NaN,S1,RAFIF WAHYU A,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
8,KADIMUN,NaN,TUKANG,SMA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,SAKRI,NaN,PETANI,SD,SUYATMI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
10,MULYOTO,NaN,BURUH TANI,SD,SUSANNA,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
11,NaN,NaN,NaN,NaN,MESIJAH,NaN,IBU RUMAH,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
12,SUKARNO,NaN,BURUH TANI,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
13,KUSNAN,NaN,KONTRAKTOR,SD,WIWIK REDANING,NaN,NaN,SD,FARENDRA MASDILANA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,v,NaN,NaN,SEJAHTERA
14,ARIZKY RAGIL ANDYKA,NaN,PENGUSAHA,SLTA,AFRISNA MASDIANA,NaN,NaN,S1 HUKUM,AZIA KINARA CAKRAWALA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
15,NaN,NaN,NaN,NaN,KAYATI,NaN,IBU RUMAH,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
16,KATIMUN,NaN,PETANI,SD,TUKINEM,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
17,BASHIRUDIN,NaN,TUKANG,SLTA,SUNARTI,NaN,NaN,SLTA,SALMA AZURA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
18,PURNOMO,NaN,TUKANG,SLTP,DINIYATI,NaN,NaN,SD,NENI AFRILIA PRASTISTIANA,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
19,SUPRIYANTO,NaN,KARYAWAN,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
20,USMAN HADI,NaN,PETANI,SLTP,MISTRIANI,NaN,NaN,SLTP,MOHAMAD FERDI AZIZ,NaN,...,√,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
21,HERU NOVIYANTO,NaN,PETANI,SLTA,NIA ARMAWATI,NaN,NaN,SLTA,ALMEER IZHAR MAUZA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
22,JIKUN,NaN,PETANI,NaN,SUYATI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
23,NaN,NaN,NaN,NaN,SUTIRAH,NaN,IBU RUMAH,SD,NaN,NaN,...,√,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
24,JOKO SUYITNO,NaN,TUKANG,SD,MARMIATI,NaN,NaN,SLTP,CHAVIN MAYOCHI N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
25,SARJUNI,NaN,PETANI,SD,MINATUN,NaN,NaN,NaN,NaN,NaN,...,NaN,√,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
26,RYHAN WARA ADI K,NaN,PELAJAR,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
27,SUYADI,NaN,PETANI,SLTP,SITI MARYUNI,NaN,NaN,PAKET C,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
28,ARJO MESERAN,NaN,PETANI,SD,SUPIYAH,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
29,SUYOTO,NaN,PEDAGANG,SLTP,SITI RUKANAH,NaN,NaN,SLTA,DANANG LUKMANUL KHAKIM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
30,SUMALI,NaN,PETANI,SD,SITI MARHENI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
31,TRI ATMONO,NaN,PETANI,SMP,UMI SAUDAH,NaN,NaN,SMP,ATTA TSANI ULAYYA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
32,SARNI,NaN,BURUH TANI,NaN,SUNDARI,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
33,SARDO,NaN,PETANI,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
34,NaN,NaN,NaN,NaN,WAKHIDATUL,NaN,IBU RUMAH,SLTP,IBRAHIM ZAIN ELFAIQ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
35,ANANG FADHILAH,NaN,POLISI,S1 SARJANA HUKUM,YENI MARLINA,NaN,NaN,S1 SARJANA PERHUTA,BENING BIDARI FADHILAH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
36,SUYONO,NaN,PETANI,SD,PONIRAH,NaN,NaN,SD,ANGGITA ARA SABILLA,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
37,NAHROWI,NaN,PETANI,SD,SITI SAMANAH,NaN,NaN,SLTP,ROSA IKA OCTARIANI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
38,SUTAJI,NaN,PETANI,SLTA,HARYUNI,NaN,NaN,SLTA,MUHAMMAD FARREL AL FAUZI,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
39,SUWANDI,NaN,PETANI,SMP,ENDANG SUSILOWATI,NaN,NaN,SMP,JOEY YOGI NUR ANGELY,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
40,SUNARNI,NaN,GURU,S1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
41,NaN,NaN,NaN,NaN,BINTI KHORIYAH,NaN,PETANI,SMP,NAFIATU ROHMAWATI,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
42,BANDUNG RURANTO,NaN,BURUH TANI,SLTA,TRI ARYA YULIANA,NaN,NaN,SLTP,LEANDARA ASHABRYNA,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
43,DIDIK ZULIANTO,NaN,GURU,SLTA,NaN,NaN,NaN,SLTA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
44,NaN,NaN,NaN,NaN,DARNING TUTIEK,NaN,IRT,SLTA,ANISA PUTRI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
45,SUGIONO,NaN,PNS,S1,IQLIMA HERAWATY,NaN,NaN,S1,AYLA SYAFANA ARBAH,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
46,NaN,NaN,NaN,-,NANIK ISMIYATI,NaN,BURUH TANI,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
47,EDI NUGROHO,NaN,WIRASWASTA,SLTA,FITRI NURMASANTI,NaN,IRT,SMP,HAFIS RIZKI NUGROHO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
48,MUHAMMAD SIDIQ,NaN,PETANI,SD,PUPUT RAHAYU,NaN,NaN,SMP\,ERLIYA NANTA RAHAYU,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
49,IMAM MUSTOFA,NaN,PETANI,S1,IRAMAYA SARI,NaN,PETANI,S1,REFA ANINDHITA AZ-ZAHRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
50,NaN,NaN,NaN,NaN,SUKILAH,NaN,IRT,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
51,NaN,NaN,NaN,NaN,SIYEM,NaN,IRT,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
52,HERI ERWANTO,NaN,ASN,S1,RATNAWATI,NaN,ASN,S1,GARZEKYALTAN DESTERA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
53,ADITIYA SYAFI'I ZUBAINI,NaN,PENGUSAHA,S1,FARICHA NUR RAHMAH,NaN,NaN,S1,ANINDIRA SHAUQEENA QIANDRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,PRA SEJAHTERA,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,MENENGAH,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,SEJAHTERA,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
KrajanRT01.shape

(57, 38)

### RT02 - DROP 36-59

In [13]:
KrajanRT02 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K20_KRAJAN/DATA PENDUDUK DUSUN SIDOREJO RT 01^J 02^J 03 KRAJAN RT 1,RT 2, RT 3 FIXX.xlsx', sheet_name='RT 2')
KrajanRT02 = KrajanRT02.iloc[5:]
KrajanRT02 = KrajanRT02.drop(KrajanRT02.columns[0], axis=1)
KrajanRT02.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,LUKMAN EFENDI,NaN,KEPALA DESA,S1,NaN,NaN,NaN,NaN,MUHAMMAD HARIR,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA

In [14]:
KrajanRT02.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [41]:
KrajanRT02.head(55)
# DROP INDEKS 36-59

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,LUKMAN EFENDI,NaN,KEPALA DESA,S1,NaN,NaN,NaN,NaN,MUHAMMAD HARIR,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
6,NaN,NaN,NaN,NaN,MUTMAINAH,NaN,WIRASWASTA,NaN,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
7,JOKO PURNOMO,NaN,PETANI,SLTA,TITIK MAESAROH,NaN,PETANI,SLTA,HAJIS PRADANA PUTRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
8,CHABIB,NaN,SWASTA,S1,MIRA,NaN,IRT,SMP,LAILY KURNIAWATI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,ZAINURI,NaN,PNS,S1,SULIS ROFIAH,NaN,IRT,SLTA,AFID ARFANI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
10,NaN,NaN,NaN,NaN,HARTINAH,NaN,BURUH TANI,SD,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
11,SAKUR,NaN,NaN,SLTA,MASRIFAH,NaN,IRT,SLTP,FARID MASKURI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
12,SYAFRUDDIN,NaN,PNS,S1,SUHARTINAH,NaN,NaN,SMA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
13,G. TRI WAHYONO,NaN,BPBD,S1,DIAN KUSUMA,NaN,IRT,S1,FARAH AULIA AZZAHRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
14,SUGIYANTO,NaN,BURUH PABRIK,SD,IMROATUL KHASANAH,NaN,IRT,SLTA,MUHAMMAD ASHABI MAULIDAN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
15,NaN,NaN,NaN,NaN,NURHAYATI,NaN,IRT,SD,ALI MUSAFA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
16,AHMAD KENIDI,NaN,WIRASWASTA,SMA,NaN,NaN,NaN,NaN,KEYSHA JAUZA NASWA KENIDI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,PRA SEJAHTERA
17,NaN,NaN,NaN,NaN,SAMINEM,NaN,PETANI,SD,MISNU,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
18,NaN,NaN,NaN,NaN,MUBAYANAH,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
19,ACHMAD RIJAL,NaN,WIRASWASTA,S1,DINI SAFITRI,NaN,WIRASWASTA,S1,DEVANDRA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
20,SLAMET RIYADI,NaN,PEDAGANG,SMK,NURHAYATI,NaN,IRT,SMA,DINI SAFITRI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
21,NaN,NaN,NaN,NaN,SUMARTI,NaN,IRT,SD,SUMANTO,NaN,...,NaN,NaN,NaN,√,√,NaN,NaN,NaN,NaN,SEJAHTERA
22,SUMANTO,NaN,BURUH TANI,SLTP,NaN,NaN,NaN,NaN,DWI YUSTIKA MAYSAPUTRI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
23,SENUN,NaN,PETANI,SD,MAS'AMAH,NaN,PETANI,SD,GALVA SHOFUAH RIFINA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
24,,NaN,NaN,NaN,ENDANG,NaN,PNS,S1,REKIYANA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
25,MASHUDI,NaN,BURUH TANI,SLTA,SUPYATUN,NaN,IRT,SD,WAHYU MEI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
26,NaN,NaN,NaN,NaN,SITI MASRUROH,NaN,PENSIUN PNS,SMA,NELVANA DWI CAHYANTI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
27,NaN,NaN,NaN,NaN,ENY ANALIYA,NaN,WIRASWASTA,SLTA,MUHAMMAD HABBI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
28,BARUDIN RIFAI,NaN,PETANI,SLTA,SITI MARFUAH,NaN,IRT,SLTP,SHAIKHA FATMAWATI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
29,MAHSUN,NaN,PETANI,SMP,SUNARTI,NaN,PETANI,SD,SAMSUL,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
30,SYAMSYUDIN,NaN,BURUH TANI,SMP,SITI FATIMAH,NaN,BURUH TANI,SMP,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
31,NaN,NaN,NaN,NaN,SRINGATUN,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
32,NaN,NaN,NaN,NaN,SAMSIAH,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
33,MUKRI YAHYA,NaN,-,SLTA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRA SEJAHTERA
34,SAMSUDIN,NaN,BURUH TANI,SMP,SITI FATIMAH,NaN,PETANI,SMP',NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
35,MAHFUD ABDULLAH,NaN,WIRAUSAHA,SMA,KARYATI,NaN,WIRAUSAHA,SMA,DHENY FIRNANDI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,PRA SEJAHTERA,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,MENENGAH,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,SEJAHTERA,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,\,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
KrajanRT02.shape

(55, 38)

### RT03 - DROP 40-59

In [17]:
KrajanRT03 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K20_KRAJAN/DATA PENDUDUK DUSUN SIDOREJO RT 01^J 02^J 03 KRAJAN RT 1,RT 2, RT 3 FIXX.xlsx', sheet_name='RT 3')
KrajanRT03 = KrajanRT03.iloc[5:]
KrajanRT03 = KrajanRT03.drop(KrajanRT03.columns[0], axis=1)
KrajanRT03.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,KADIRAN,NaN,PETANI,-,MURIANA,NaN,PETANI,SD',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH

In [18]:
KrajanRT03.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [50]:
KrajanRT03.head(55)
# DROP INDEKS 40-59

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,KADIRAN,NaN,PETANI,-,MURIANA,NaN,PETANI,SD',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
6,MISMAN,NaN,PETANI,SD,SUCIATI,NaN,PETANI,SD',NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
7,DANU ASMARA,NaN,WIRAUSAHA,D3,DELLA MARBELA,NaN,WIRAUSAHA,S1,NAUSHAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
8,PUGUH SANTOSO,NaN,PERANGKAT DESA,SLTA,SITI ROBINGAH,NaN,IRT,SMP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
9,NaN,NaN,_,_,SITI ROKHMATIN,NaN,SERABUTAN,SD',ALIYA RAHMA AZZAHRA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
10,BASUNI,NaN,PURNA,_,RUMKHANA,NaN,IRT,SMP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
11,SUWANDI,NaN,PETANI,SD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
12,SUTIKNO,NaN,POLRI,SLTA,SRI HASTUTI,NaN,IRT,SLTA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
13,TRIO HERWINSYAH,NaN,KLINIK KESEHATAN,SPK (D3),NaN,NaN,NaN,NaN,SACHI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
14,MISKANTO,NaN,PETANI,SMA,SUMARI,NaN,PETANI,SD,HERGA ARDIANSYAH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
15,MUSIN,NaN,PETANI,SD,NANI,NaN,PETANI,MTS,NaN,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
16,HARIYONO,NaN,WIRASWASTA,D3,NURHIDAYATI,NaN,IRT,SMA,EKA AGUSTINA,NaN,...,NaN,NaN,√,NaN,NaN,√,NaN,NaN,NaN,SEJAHTERA
17,SUBANI,NaN,NaN,SD,SAYUNA,NaN,IRT,NaN,AGUS BUDIYONO,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
18,ZAMRONI YUSUF,NaN,WIRASWASTA,SLTA,ESA,NaN,NaN,S1 PGSD,NAGITA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
19,SUGENG,NaN,WIRASWASTA,S1,RENI,NaN,NaN,S1,ZIDAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
20,MUHAMMAD ROSYIDIN,NaN,PETANI,SMA,FEBI,NaN,PETANI,S1,ASKA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
21,RIDWAN MUSTAFA,NaN,KARYAWAN SWASTA,S1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
22,SUWITO,NaN,WIRAUSAHA,SMP,HARNANIK,NaN,IRT,SMP,NURIL HAKIM,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
23,RENI ANTO,NaN,PETANI,SLTA,SUPARMI,NaN,IRT',SMP,RUDI KRISWANTO,NaN,...,NaN,NaN,√,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
24,NaN,NaN,NaN,NaN,SUMINI,NaN,IRT,SD,SUKATI,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
25,HERI KUSWANTO,NaN,PETANI,SD,AMINATUN ZURIAH,NaN,PETANI,MTS,ARDI PRAWINATA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
26,SYAMSYUDIN,NaN,NaN,SMA,RINA JULIANTI,NaN,NaN,D3,RASYA O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
27,SUROTO,NaN,BURUHH TANI,SD,KASIATUN,NaN,IRT,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
28,AHMAD DAROJI,NaN,WIRASWASTA,SMA,ERNAWATI,NaN,IRT,SD,BILQIS ZAHRA FAIRUS AHMAD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
29,SAMSURI,NaN,PETANI,SMP,DARWATI,NaN,PETANI,SD,DIVA PUTRA PRATAMA,NaN,...,NaN,√,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
30,AGUS YANTO,NaN,KEPALA SUB BIDANG BIMBINGAN DAN PENGENTASAN ANAK,S1,USWATUN CASANAH,NaN,NaN,S1,EDWIN MAHADIKA NUGRAHA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
31,MARZUKI,NaN,PETANI,SD,SITI FATIMAH,NaN,NaN,SMP,ENDRAS ERNAWATI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
32,SUGENG HARIANTO,NaN,WIRASWASTA,STM,ATIK WIDIAYI,NaN,NaN,SMA,WIDA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
33,AHMAD SUNARYO,NaN,PETANI/PENSIU GURU,D2,UMI SAUDAH,NaN,NaN,SMP,USWATUN CASANAH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
34,NUR IKSAN KHOLIS,NaN,PETANI,SLTA,SRI WAHUTI,NaN,NaN,SLTP,AQILAH AULIA IZZATUNNISA,NaN,...,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
35,BAHRUDIN,NaN,PETANI,SLTA,SITI NURJANAH,NaN,NaN,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
36,SHUBARI,NaN,PNS,S1,KAETINI,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
37,SUTIKNO,NaN,POLRI,SMA,SRI HASTUTI,NaN,NaN,SMA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEJAHTERA
38,RUBIJIAN,NaN,BURUH TANI,SD,NaN,NaN,NaN,NaN,MUHAMMAD IDRIS AFANDI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
39,SUPRAPTO,NaN,BURUH TANI,NaN,WARSIYEM,NaN,NaN,SD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,PRA SEJAHTERA,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,MENENGAH,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,SEJAHTERA,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,\,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
KrajanRT03.shape

(55, 38)

### MERGE RT 1 2 3

In [21]:
Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')
Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')

<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(KrajanRT01, KrajanRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
<ipython-input-21-fa3ce8b0b350>:10: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  Data_Krajan = pd.merge(Data_Krajan, KrajanRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',

In [22]:
Data_Krajan.head(1)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
0,ALI IMRON,NaN,TUKANG,SMA,SITI ANJARIAH,NaN,GURU,S1,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH

### TOTAL DATA

In [23]:
Data_Krajan.shape

(1406, 38)

## DUSUN SIDOREJO - REVISI

### RT01 - AMAN

In [24]:
SidorejoRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 01')
SidorejoRT01 = SidorejoRT01.iloc[5:]
SidorejoRT01 = SidorejoRT01.drop(SidorejoRT01.columns[0], axis=1)
SidorejoRT01.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

In [25]:
SidorejoRT01.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [47]:
SidorejoRT01.head(1)
# AMAN

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

In [27]:
SidorejoRT01.shape

(39, 38)

### RT02 - DROP 47-59

In [28]:
SidorejoRT02 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 02')
SidorejoRT02 = SidorejoRT02.iloc[5:]
SidorejoRT02 = SidorejoRT02.drop(SidorejoRT02.columns[0], axis=1)
SidorejoRT02.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,Adi Marga Susila,"Ponorogo, 18 Desember 1965",Pengangguran,S1,Purwati,"Bojonegoro, 17 Agustus 1965",Ibu Rumah Tangga,SMP,Wahyu Ghany Abdullah,"Madiun, 24 Oktober 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH

In [29]:
SidorejoRT02.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [45]:
SidorejoRT02.head(1)
# DROP INDEKS 47-59

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,Adi Marga Susila,"Ponorogo, 18 Desember 1965",Pengangguran,S1,Purwati,"Bojonegoro, 17 Agustus 1965",Ibu Rumah Tangga,SMP,Wahyu Ghany Abdullah,"Madiun, 24 Oktober 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH

In [31]:
SidorejoRT02.shape

(55, 38)

### RT03 - AMAN

In [32]:
SidorejoRT03 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K21_SIDOREJO/DATA PENDUDUK DUSUN SIDOREJO RT 01, 02, 03.xlsx', sheet_name='RT 03')
SidorejoRT03 = SidorejoRT03.iloc[5:]
SidorejoRT03 = SidorejoRT03.drop(SidorejoRT03.columns[0], axis=1)
SidorejoRT03.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,SUPRIADI,"PONOROGO, 16 FEBRUARI 1973",WIRASWASTA,SLTP,MURYATI,"PONOROGO, 17 OKTOBER 1980",WIRASWASTA,SD,AISAH PUTRI PRATIWI,"PONOROGO, 23 OKTOBER 2005",...,-,-,-,-,-,-,-,√,NaN,MENENGAH

In [33]:
SidorejoRT03.columns = ['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
                    'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu',
                    'Nama_Anak1', 'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1',
                    'Nama_Anak2', 'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2',
                    'Nama_Anak3', 'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3',
                    'Nama_Anak4', 'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4',
                    'RT_MilikSendiri', 'RT_IkutOrangTua', 'RT_Kontrak',
                    'Tanah_Sawah', 'Tanah_Kebun',
                    'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele',
                    'K_Mobil', 'K_Motor', 'Lainnya', 'Kategori'
                    ]

In [48]:
SidorejoRT03.head(49)
# AMAN

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
5,SUPRIADI,"PONOROGO, 16 FEBRUARI 1973",WIRASWASTA,SLTP,MURYATI,"PONOROGO, 17 OKTOBER 1980",WIRASWASTA,SD,AISAH PUTRI PRATIWI,"PONOROGO, 23 OKTOBER 2005",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
6,IMRON ZUBAIDI,"PONOROGO, 29 JULI 1977",WIRASWASTA,SLTA,ISMIATIN,"PONOROGO, 19 JULI 1977",PNS,D4,NAUFAL RIATTA AHADAN ZUBAIDI,"PONOROGO, 11 FEBRUARI 2007",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
7,SUGENG RIYADI,"KEDIRI, 30 NOVEMBER 1970",SWASTA,SLTA,ANA INDIYAWATI,"PONOROGO, 4 MARET 1977",SWASTA,SLTA,KUNCORO BAYU SAPUTRO,"PONOROGO, 17 JUNI 1996",...,-,-,-,√,-,-,√,√,NaN,SEJAHTERA
8,ALM. MUHTAROM,-,-,-,ENDANG SUPRIHATIN,"PONOROGO, 26 SEPTEMBER 1966",BURUH TANI,SLTA,TAFIDA NUR LAILY AZIZATIN,"PONOROGO, 30 JULI 2004",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
9,FAIZ FARUKI AL-KHUDZAIFI,"PONOROGO, 12 AGUSTUS 1994",SWASTA,SLTA,FRISKA NUR'AINI NOVITASARI,"PONOROGO, 27 NOVEMBER 1992",-,SLTA,-,-,...,-,-,-,-,-,-,-,√,NaN,MENENGAH
10,MUZAYIN,"PONOROGO, 26 MARET 1969",TANI,SLTA,PUJI ASTUTI,"PONOROGO, 8 JULI 1976",WIRASWASTA,SLTP,ADAM FIRMANSYAH,"PONOROGO, 16 SEPTEMBER 2002",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
11,ABDUL MANAF,"MADIUN, 7 MARET 1979",KARYAWAN SWASTA,SLTA,ANISATUL FADLILAH,"PONOROGO, 1 AGUSTUS 1986",KARYAWAN SWASTA,S1,JAISYAN ILHAM MUHAMMAD,"PONOROGO, 17 APRIL 2022",...,-,-,-,√,-,-,-,√,NaN,MENENGAH
12,-,-,-,-,SUPIYATUN,"PONOROGO, 4 FEBRUARI 1939",-,SD,MOH. YASIN,"PONOROGO, 11 SEPTEMBER 1975",...,-,-,√,√,-,-,-,√,NaN,PRASEJAHTERA
13,MUSTAJAB,"PONOROGO, 30 MEI 1957",TANI,SLTP,UMI NURYANI,"PONOROGO, 9 JULI 1965",-,SLTA,KHOIRUL ANAM,-,...,-,-,√,-,-,-,-,√,NaN,MENENGAH
14,FANANI AFANDI,"PONOROGO, 24 NOVEMBER 1968",SWASTA,PGAN,SRI MULYANI,"PONOROGO, 26 OKTOBER 1975",SWASTA,SLTA,RAIHAN AFANDI,"PONOROGO, 24 DESEMBER 2005",...,√,-,√,-,-,-,√,√,NaN,SEJAHTERA
15,FUDOLI,"PONOROGO, 23 DESEMBER",SOPIR,SD,LAILATUL MUHAR0MAH,"PONOROGO, 21 NOVEMBER",GURU HONORER,S1,DINARA LATIZA LAILI BRILLIANT,"PONOROGO, 23 SEPTEMBER",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
16,HERI KUSWANTO,"PONOROGO, 4 JANUARI 1957",-,SLTA,SITI NUASIAH,"PONOROGO, 20 JUNI 1980",IBU RUMAH TANGGA,SLTA,FAHRUL RIZKY,"PONOROGO, 4 NOVEMBER 2001",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
17,MUSTAQIM,"MALANG, 3 MARET 1980",KARYAWAN SWASTA,D1,RENY ANDHIKA HAPSARI,"TRENGGALEK, 25 NOVEMBER 1984",PNS,S1,KALYCA AIESYA INARA,"TRENGGALEK, 23 DESEMBER 2011",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
18,-,-,-,-,ENI DWI WINARSIH,"PONOROGO, 31 AGUSTUS 1963",WIRASWASTA,SLTP,TANTI EKO BUDIARTI,"PONOROGO, 31 AGUSTUS 1980",...,-,-,-,√,-,-,-,√,NaN,MENENGAH
19,SENI,"PONOROGO, 6 AGUSTUS 1968",BURUH HARIAN LEPAS,TIDAK SEKOLAH,RINI DWI RATNASARI,"PONOROGO, 25 OKTOBER 1983",IBU RUMAH TANGGA,SLTA,AHMAD FATHONI,"PONOROGO, 6 DESEMBER 2003",...,-,-,-,-,√,-,-,√,NaN,MENENGAH
20,DOFIR MASRURI,"PONOROGO, 6 MARET 1976",PETANI,SLTA,ERNA ZUNAIDAH,"PONOROGO, 30 JUNI 1977",IBU RUMAH TANGGA,SLTP,YAZID ABIL WAFA,"PONOROGO, 11 JULI 2008",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
21,SUKARJI,"MADIUN, 15 - 1964",PENSIUNAN,-,SURYANI,"MADIUN, 1 APRIL 1975",PETANI,SLTA,EMILYA FEBRIANTI,"MADIUN, 28 FEBRUARI 2001",...,-,-,-,√,-,√,-,√,NaN,SEJAHTERA
22,TRISNO BADARUL ULUM,"PONOROGO, 5 APRIL 1982",WIRASWASTA,ALIYAH,RINA KUSUMAWATI,"MAGETAN, 11 JANUARI 1987",WIRASWASTA,SLTA,ANNISA SHALAWATI AZZAHRA,"BERAU, 16 OKTOBER 2013",...,-,-,-,-,-,-,√,√,NaN,SEJAHTERA
23,KHOLIQ BAHTIAR,"PONOROGO, 5 DESEMBER 1985",WIRASWASTA,SLTA,INDAH WIDYANINGSIH,"MADIUN, 28 JUNI 1992",IBU RUMAH TANGGA,SLTA,ZULFADLI,"MADIUN, 6 JUNI 2017",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
24,SLAMET,PONOROGO,WIRASWASTA,SLTP,ASRINGAH,PONOROGO,WIRASWASTA,SLTA,OKTA DWI KHARISMA,PONOROGO,...,-,-,-,-,-,-,-,√,NaN,MENENGAH
25,MOH. DAWAM,"KEDIRI, 10 MEI 1960",SWASTA,SLTP,SRI RAHAYU WIDODO,"PONOROGO, 8 AGUSTUS 1961",-,SLTP,AMANG FATUROHMAN,"MADIUN, 26 DESEMBER 1986",...,-,-,-,√,-,-,-,-,NaN,MENENGAH
26,DEA AGUNG WICAKSONO,"MADIUN, 13 DESEMBER 1991",-,SMK,DIAN SRI WULANDARI,"PONOROGO, 18 JANUARI 1990",IBU RUMAH TANGGA,SLTA,ARACHELLY SATIVA WICAKSONO,"PONOROGO, 8 DESEMBER 2016",...,-,-,-,-,-,-,-,-,NaN,PRASEJAHTERA
27,-,-,-,-,SUKATIN,"PONOROGO, 25 JUNI 1957",-,SD,YETIK INDRAWATI,"PONOROGO, 5 JULI 1974",...,-,-,-,√,-,-,-,-,NaN,PRASEJAHTERA
28,KHOIRUL ABIDIN,"PONOROGO, 24 DESEMBER 1972",PNS,SLTA,WIWIK ERNAWATI,"PONOROGO, 15 DESEMBER 1974",WIRASWASTA,SLTA,ERISKA DEWI PRATIWI,"PONOROGO, 25 JUNI 1998",...,-,-,-,√,-,-,-,√,NaN,SEJAHTERA
29,TULUS WAHYUDI,"PONOROGO, 16 AGUSTUS 1969",WIRASWASTA,SD,LILIK HERLINA,"PONOROGO, 24 MARET 1975",WIRASWASTA,SLTP,DIKA WAHYUDIN P,"PONOROGO, 29 JANUARI 2001",...,-,-,-,-,-,-,-,-,NaN,MENENGAH
30,SUHARTO,"PONOROGO, 18 SEPTEMBER 1962",PETANI,SLTP,UMI MUJAYANAH,"PONOROGO, 3 FEBRUARI 1966",IBU RUMAH TANGGA,SLTA,-,-,...,-,-,√,-,-,-,-,√,NaN,PRASEJAHTERA
31,AFTORUDIN,"PONOROGO, 10 JUNI 1967",SWASTA,SD,IDA SUNARTI,"PONOROGO, 2 MEI 1967",IBU RUMAH TANGGA,SLTP,VIVI FRIDAYANTI,"PONOROGO, 28 AGUSTUS 1995",...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
32,MUHAMMAD MAGHFUR,"PONOROGO, 20 FEBRUARI 1975",KARYAWAN SWASTA,SLTA,-,-,-,-,-,-,...,-,-,-,-,-,-,-,√,NaN,PRASEJAHTERA
33,ANDIK HADI SISWANTO,"PONOROGO, 10 SEPTEMBER 1979",WIRASWASTA,SLTA,WENI ASTUTI,"PACITAN, 29 JUNI 1980",WIRASWASTA,SLTP,WINDY ELISA PUTRI,"PONOROGO, 29 MARET 2010",...,-,-,-,√,-,-,-,√,NaN,MENENGAH
34,ALI MUSTOFA,"PONOROGO, 14 MEI 1978",BURUH,SLTA,WINARSIH,"TRENGGALEK, 27 AGUSTUS 1985",IBU RUMAH TANGGA,SLTA,M. NAUFAL AL'AYYUBI,"PONOROGO, 21 SEPTEMBER 2009",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
35,SLAMET WIDODO,"PONOROGO, 1 DESEMBER 1972",SWASTA,SLTA,DWI PUJI LESTARI,"PONOROGO, 25 MARET 1983",IBU RUMAH TANGGA,SLTA,-,-,...,-,-,-,-,-,-,-,√,NaN,MENENGAH
36,DIMYATI,"PONOROGO, 30 JUNI 1954",PETANI,SD,NaN,NaN,NaN,NaN,WIWIT FEBRIYANI,"PONOROGO, 19 FEBRUARI 1981",...,-,-,-,-,-,-,-,√,NaN,MENENGAH
37,WIJIANTO,"PONOROGO, 28 SEPTEMBER 1968",WIRASWASTA,SLTP,SULASTRI,"JOMBANG, 5 SEPTEMBER 1979",WIRASWASTA,SLTP,IKA NOVITASARI,"PONOROGO, 27 JUNI 1997",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
38,FATHURROHMAN,"MADIUN, 15 JULI 1998",WIRASWASTA,SLTA,IKA NOVITASARI,"PONOROGO, 27 JUNI 1997",KARYAWAN SWASTA,SLTA,M. ALBY PASHA NATANAGARA,"PONOROGO, 24 JULI 2019",...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
39,SUYONO,PONOROGO,WIRASWASTA,SLTP,SITI JUARIAH,PONOROGO,PEDAGANG,SLTP,MUHHAMAD YOSINDA,PONOROGO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
40,SUKAMTO,"PONOROGO, 10 FEBRUARI 1940",PETANI,SD,WIDJATI,"PONOROGO, 2 APRIL 1954",PETANI/IRT,SD,ANGGA ROY S,"PONOROGO, 3 APRIL 1995",...,√,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
41,M. DAROINI,"PONOROGO, 22 DESEMBER 1950",SWASTA,SLTA,SUNDARI,"PONOROGO, 23 FEBRUARI 1959",SWASTA,SLTA,VITA KHALIMATUSSA'DIAH,"PONOROGO, 31 NOVEMBER 1979",...,NaN,NaN,NaN,NaN,NaN,NaN,√,√,NaN,PRASEJAHTERA
42,IBNU ATOILAH,1 MARET 1967,SWASTA,SLTP,TITIK SRIYATIN,21 MARET 1972,SWASTA,SLTP,LENI SEPTIAN DANUATI,1991-09-06 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
43,DONY WIDIANARKO,"PONOROGO, 17 APRIL 1979",PETANI,SLTA,SITI ROFIAH,"LAMPUNG, 1 JANUARI 1984",NaN,SLTA,MARSYA AWRA PUTRI BATRISIA,"LAMPUNG, 21 JULI 2009",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
44,ZAINUL ARIFIN,"PONOROGO, 12 FEBRUARI 1970",WIRASWASTA,SLTA,NURJANNAH,"INHIL, 21 JULI 1976",SWASTA,D3,MUHAMMAD DIMAS ALFAJOR,"PONOROGO, 17 JUNI 2005",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH
45,AMANG FATCHURRAHMAN,MADIUN 26 DESEMBER 1986,SWASTA,SMK,GIZLIYA WAHYU SETYA WARDANI,"PONOROGO, 27 AGUSTUS 1987",IRT,SARJANA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,NaN,NaN,MENENGAH
46,NaN,NaN,NaN,NaN,MISTUN,"PONOROGO, 30 JUNI 1966",WIRASWASTA,SLTP,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
47,KHORIP IKHSANUDIN,"PONOROGO, 31 JULI 1983",WIRASWASTA,SMA,MARIATIN,"PONOROGO, 28 AGUSTUS 1959",IRT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MENENGAH
48,LAMUN,"MADIUN, 16 FEBRUARI 1966",PETANI,SD,UPRIYANTI,"PONOROGO, 2 DESEMBER 1976",IRT,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
49,FARHAN,"SERANG, 14 MARET 2000",SWASTA,SLTP,VIVI FRIDAYANTI,"PONOROGO, 28 AGUSTUS 1995",NaN,SMA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
50,KADENI,"PONOROGO, 13 MEI 1963",PETANI,SLTA,HANINGMAS KIYATI,"PONOROGO, 20 JUNI 1966",PETANI,SLTP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
51,SEPTIAN ANDRIWIJAYA,"PONOROGO, 2 SEPTEMBER 1985",PETANI,SLTA,FARIDA YASTANTI,"PONOROGO, 13 MEI 1954",IRT,SLTA,NaN,NaN,...,NaN,NaN,NaN,√,NaN,NaN,NaN,√,NaN,MENENGAH
52,JOKO SETIONO,"PONOROGO, 5 OKTOBER 1983",KARYAWAN SWASTA,SLTA,MAS AYU YUNIAWATISNANI,"MALUKU TENGAH, 13 JUNI 1992",KARYAWAN BUMN,S1,ROBBY HAFID MAULANA,"PONOROGO, 30 APRIL 2018",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PRASEJAHTERA
53,MUHAMMAD NASTANGIN,"PONOROGO, 3 DESEMBER 1973",PETANI,SLTA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,√,NaN,MENENGAH

In [34]:
SidorejoRT03.shape

(49, 38)

### MERGE RT 1 2 3

In [35]:
SidorejoRT01.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [36]:
SidorejoRT02.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [37]:
SidorejoRT03.columns

Index(['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'],
      dtype='object')

In [38]:
Data_Sidorejo = pd.merge(SidorejoRT01, SidorejoRT02, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')
Data_Sidorejo = pd.merge(Data_Sidorejo, SidorejoRT03, on=['Nama_Ayah', 'TTL_Ayah', 'Pekerjaan_Ayah', 'Pendidikan_Ayah',
       'Nama_Ibu', 'TTL_Ibu', 'Pekerjaan_Ibu', 'Pendidikan_Ibu', 'Nama_Anak1',
       'TTL_Anak1', 'Pekerjaan_Anak1', 'Pendidikan_Anak1', 'Nama_Anak2',
       'TTL_Anak2', 'Pekerjaan_Anak2', 'Pendidikan_Anak2', 'Nama_Anak3',
       'TTL_Anak3', 'Pekerjaan_Anak3', 'Pendidikan_Anak3', 'Nama_Anak4',
       'TTL_Anak4', 'Pekerjaan_Anak4', 'Pendidikan_Anak4', 'RT_MilikSendiri',
       'RT_IkutOrangTua', 'RT_Kontrak', 'Tanah_Sawah', 'Tanah_Kebun',
       'HT_Sapi', 'HT_Kambing', 'HT_Ayam', 'HT_Bebek', 'HT_Lele', 'K_Mobil',
       'K_Motor', 'Lainnya', 'Kategori'], how='outer')

In [39]:
Data_Sidorejo.head(1)

,Nama_Ayah,TTL_Ayah,Pekerjaan_Ayah,Pendidikan_Ayah,Nama_Ibu,TTL_Ibu,Pekerjaan_Ibu,Pendidikan_Ibu,Nama_Anak1,TTL_Anak1,...,Tanah_Kebun,HT_Sapi,HT_Kambing,HT_Ayam,HT_Bebek,HT_Lele,K_Mobil,K_Motor,Lainnya,Kategori
0,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

### TOTAL DATA

In [40]:
Data_Sidorejo.shape

(143, 38)

## DUSUN JASEM

### RT01

In [51]:
JasemRT01 = pd.read_excel('ProyekDesa_Sedah/RekapSurveySensusDesaSedah/K22_JASEM/RekapSurveySensus_K22.xlsx', sheet_name='RT 01')
JasemRT01 = JasemRT01.iloc[5:]
JasemRT01 = JasemRT01.drop(JasemRT01.columns[0], axis=1)
JasemRT01.head(1)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
5,MOCH ZARKASI,"PONOROGO, 05 AGUSTUS 1948",PENSIUNAN,-,MASNUNAH,"PONOROGO, 31 DESEMBER 1956",PENSIUNAN,S1,EVA HENDRAWATI,"PONOROGO, 29 MEI 1978",...,√,NaN,NaN,√,NaN,√,√,√,NaN,SEJAHTERA

### RT02

### RT03